#profile .portrait {
  background-image: url('../img/portrait.jpg');
  width: 255px;
  height: 255px;
  margin: 0 auto;
  border-radius: 60%;
  background-size: cover;
}



a {
   color: rgb(0, 153, 153);
}

a:hover {
   color: rgb(0, 102, 102);
}